p {
  color: #000000
  ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ced5d1;
    margin: 60px;
    padding: 60px;
}


.box {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #747272;
    color: #ffffff;
    padding: 10px 0;
}


nav {text-align: center;
        display: flex;
        justify-content: center; 
        align-items: center;   
        height: 100px;       
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #14562a;
}

.collection-grid { 
    margin: 0 auto;
    flex-flow: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-card { 
    border: 10px solid black;
    padding: 20px;
    width: 1400px;
    flex: 1 1 100%;
    background-color: white
}


h1 {
  color: #14562a; 
}
 h1 {
        font-size: 60px
    }
    h1 {
  padding-top: 10px;    
  padding-bottom: 10px; 
  padding-left: 20px;   
  padding-right: 20px;  
}
h2 {
        font-size: 30px
    }
    h2 { color: #14562a;
    }
 p {
        font-size: 20px
    }  
    h2 {
  padding-top: 10px;    
  padding-bottom: 10px; 
  padding-left: 20px;   
  padding-right: 20px;  
}  
    li {
    font-size: 18px;
}
    li {
        margin-bottom: 20px; 
        padding-left: 20px; 
    }
 p {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }


body {
  padding-top: 40px;   
  padding-bottom: 40px; 
  padding-left: 40px;   
  padding-right: 40px;  
}

.button-01 {
    background-color:#ced5d1;
    color:#14562a;
    font-style:oblique;
    padding: 12px 24px;
    border: 2px solid black;
    transition: background-color 0.2s ease, border-color 0.3s ease;
     border-radius: 10px;
}

.button-01:hover { 
    background-color:#14562a;
    color:#ced5d1;
    border-color:black;
   
}


footer {text-align: center;
        display: flex;
        justify-content: center; 
        align-items: center;   
        height: 100px;       
}

@media(height>=480px){ .collection-card{flex: 1 1 45%}
}

@media(height>=1400px){ .collectio-card{flex: 1 1 25%}
}