p {
  color: #000000
  ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ced5d1;
}

.box {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #747272;
    color: #ffffff;
    padding: 10px 0;
}

#logo {
    float: left;
    font-size: 1.5em;
}

nav {
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #14562a;
}


h1 {
  color: #14562a; 
}
 h1 {
        font-size: 60px
    }
    h1 {
  padding-top: 10px;    
  padding-bottom: 10px; 
  padding-left: 20px;   
  padding-right: 20px;  
}
h2 {
        font-size: 30px
    }
    h2 { color: #14562a;
    }
 p {
        font-size: 20px
    }  
    h2 {
  padding-top: 10px;    
  padding-bottom: 10px; 
  padding-left: 20px;   
  padding-right: 20px;  
}  
    li {
    font-size: 18px;
}
    li {
        margin-bottom: 20px; /* Adds space between list items */
        padding-left: 20px; /* Adds space between the marker and the text */
    }
 p {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }


body {
  padding-top: 40px;    /* Adds 10px of internal space above the h1 content */
  padding-bottom: 40px; /* Adds 10px of internal space below the h1 content */
  padding-left: 40px;   /* Adds 20px of internal space to the left of the h1 content */
  padding-right: 40px;  /* Adds 20px of internal space to the right of the h1 content */
}

footer {float: right;
}