*{box-sizing:border-box;}

body{font-family: Arial;}
body{background: rgb(128, 126, 126);}
body{margin: 25px;}
body{padding: 20px}

.card {max-width: 600px;}
.card {margin: 0 auto;}
.card {padding: 20;}
.card {background-color: rgb(129, 44, 44);}
.card {border: 7px solid black;}

h1{color: white}
h1{margin-left: 10px}
h1{font-size: 20}

p{color: white}
p{font-size: 10}
